:root {
	--maine-text-color: #212121;
	--text-color: #757575;
	--accent: #2196F3;
	--white-color: #ffffff;
	--black-color: #000000;
	--button-hover-color: #188CE8;
	--background-color: #2F303A;
	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

}