.clients-title {
	
	@include title
}

.clients-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 1200px) {

		flex-wrap: nowrap;
	}

}

.clients-list__item {
	width: calc((100% - 30px) / 2);

	


	@media screen and (min-width: 768px){

		width: calc((100% - 60px) / 3);
		
	}

	@media screen and (min-width: 1200px) {

		width: 100%;
		
		
	}
}

.clients-list__link {
		display: flex;
			align-items: center;
			justify-content: center;
			
			min-height: 92px;
		
			border: 1px solid #afb1b8;
			border-radius: 4px;
			color: #afb1b8;
		
			transition: color 250ms var(--cubic-bezier),
			 border-color 250ms var(--cubic-bezier);

			 &:hover ,
			 &:focus {
					color: var(--accent);
					border-color: var(--accent);

			 }
	}

.clients-list__icon {
			width: 100%;

			fill: currentColor;
		
			transition: fill 250ms var(--cubic-bezier);

	}





