.menu-open {
	margin-left: auto;
	background-color: transparent;
	border: none;

	@media screen and (min-width: 768px) {
		display: none;
		
	}
}

.menu-close {
	display: block;
	position: absolute;
	top: 10px;
	right: 15px;
	
	margin-left: auto;
	

	background-color: transparent;
	border: none;

	transition: fill 250ms var(--cubic-bezier);
	
		&:hover,
		&:focus {
	
			fill: var(--accent);
		}
}



.mob-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;

	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 1;
	
	height: 100%;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 40px;

	background-color: white;

	overflow: auto;
 
}




.mob-nav__item {
	margin-bottom: 32px;

}
.mob-nav__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.175;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	color: #212121;
	&:hover ,
	&:focus {
		color: #2196F3;
	}

}

.mob-nav__link-current {
	color: #2196F3 ;
}



.menu-contacts__item {
	margin-bottom: 32px;
}

.menu-contacts__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.02em;
	
	color: #757575;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


	&:hover,
	&:focus {
			color: #2196F3;
			transform: scale(0.7);
		}
}


.menu-social {
	display: flex;
	
	gap: 20px;

}

.menu-social__item {
	position: relative;
}

.menu-social__item:not(:last-child)::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 22px;
	background-color: rgba(33, 33, 33, 0.2);
}

.menu-social__link {

		padding-right: 10px;
		text-decoration: none;
		font-weight: 500;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: #2196F3;
	
		@media screen and (min-width:480px) {
			font-size: 18px;
			line-height: 1.22;
		}

	// font-family: 'Roboto';
	// font-style: normal;
	// font-weight: 500;
	// font-size: 18px;
	// line-height: 1.2222;
	// letter-spacing: 0.02em;
	
	// color: #2196F3;


}



.menu-social__link:is(:hover, :focus) {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.mob-menu.is-hidden {
	opacity: 0;
	visibility: visible;
	pointer-events: none;

}